.auth-container {
    height: calc(100vh - 68px);
}

.auth-info {
    display: none;
}

.auth-content {
    padding: 17px 10px;
}

.auth-card {
    padding: 60px 17px 100px 17px;
}

.auth-card-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -0.015em;
    color: #FFF;
    margin-bottom: 40px;
}

@media (min-width: 576px) {
    .auth-content {
        padding: 40px 50px;
    }

    .auth-card {
        padding: 75px 45px 130px 45px;
    }
}

@media (min-width: 768px) {
    .auth-content {
        padding: unset;
        padding: 40px 0;
        display: flex;
        justify-content: center;
    }

    .auth-card {
        width: 480px;
    }
}

@media (min-width: 1200px) {
    .auth-container {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }

    .auth-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        margin-right: 150px;
    }

    .auth-info-title {
        font-size: 48px;
        line-height: 65px;
        letter-spacing: -0.015em;
        color: #FFF;
        margin-top: 30px;
    }

    .auth-info-subtitle {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.015em;
        color: #F2F2F2;
        margin-top: 20px;
        margin-bottom: 51px;
    }

    .auth-content {
        display: unset;
        padding: 0;
    }
}
