.listing-container {
    font-size: 24px;
    color: #fff;
    padding: 41px 40px;
}

.listing-container h1 {
    font-size: 48px;
    margin-bottom: 39px;
}

.movie-link {
    margin-bottom: 27px;
}

.listing-container a, a:hover {
    color: #fff !important;
}

@media (max-width: 576px) {

    .listing-container h1 {
        font-size: 40px;
        margin-bottom: 49px;
    }

    .movie-link {
        margin-bottom: 12px;
    }
}

@media (max-width: 320px) {
    .listing-container {
        padding: 12px 15px;
        font-size: 18px;
    }

    .listing-container h1 {
        font-size: 24px;
        margin-bottom: 49px;
    }

    .movie-link {
        margin-bottom: 12px;
    }
}